# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

# Local Gradle properties
gradle.properties

# Eclipse / IntelliJ / VS Code
.classpath
.project
.settings/
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Java
*.class